* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    max-width: 600px;
    height: 600px;
    margin: 5em auto;
}
.wrapper h3 {
    background-color: rgb(0, 225, 255);
    padding: 8px 0;
    text-align: center;
    border: 0.5px solid black;
    box-shadow: 0 0 15px #a1a1a1;
    border-radius: 10px;
}
.input-form {
    height: 100%;
    border-radius: 8px;
    
}
#form {
    margin: 0.5em 0;
    padding: 1em;
    box-shadow: 0 0 15px #505050;
    background-color: #ececec;
    border-radius: 10px;
}
#form input[type=number] {
    padding-left: 15px;
    font-size: 0.5em;
    background-color: #f8f8f8;
    height: 2em;
    width: 80%;
    border-radius: 8px;
    outline: none;
    border: none;
}
#form input[type=radio] {
    width: 40px;
    height: 1.6em;
}
#form button {
    position: relative;
    margin: 0 1em;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    outline: none;
}
#form button:active{
    bottom: 1px;
    left: 1px;
}
#form button:nth-child(1) {
    background-color: rgb(0, 156, 0);
    margin-left: 0;
}
#form button:nth-child(2) {
    background-color: rgb(200, 0, 0);
}
.result-msg {
    background-color: #00a2ff38;
    padding: 5px 15px;
    border: 1px solid red;
    border-radius: 10px;
}
#massage {
    text-align: center;
    color: #ffa600;
}
.copyright {
    text-align: center;
    font-size: 0.8em;
}
.copyright a{
    text-decoration: none;
}