@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f1f5f8;
    color: #333;
    font-size: 1em;
    font-family: 'Robto', sans-serif;
}
.container{
    position: relative;
    top: 10vh;
    max-width: 90%;
    height: auto;
    margin: 30px auto 100px;
}
.title {
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 2.3em;
    text-align: center;
    margin: 80px auto;
}
.underline{
    height: 4px;
    width: 100px;
    background-color: #49a6e9;
    margin: 15px auto;
}
.review{
    text-align: center;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 35px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.315);
    transition: all 0.3s linear;
}
.review:hover{
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.678);
}
/* style fo images */
.image{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-layout{
    width: 150px;
    height: 150px;
    background-color: #49a6e9;
    border-radius: 50%;
}
.image-layout > div{
    position: relative;
    top: 5px;
    right: 7px;
}
#author-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.quote-icon{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -140px;
    left: -10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #49a6e9;
}
/* author name  */
.author-name{
    margin: 10px auto;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.profession{
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    color: #49a6e9;
}
.speech{
    margin: 20px auto;
    height: 50px;
    color: #6a8081;
}
/* style for buttons  */
button{
    margin: 10px auto;
    outline: none;
    transition: all 0.3s linear;
    cursor: pointer;
}
.buttons button{
    height: 50px;
    font-size: 2em;
    font-weight: bold;
    color: #49a6e9ab;
    border: none;
    background: none;
    padding: 10px;
    margin: 0 5px;
}
.buttons button:hover{
    color: #49a6e9;
}
#random{
    border: 2px solid #49a6e9ab;
    border-radius: 8px;
    padding: 5px;
    color: #49a6e9;
}
#random:hover{
    background-color: #49a6e9;
    color: #fff;
}
.developer{
    margin: 25px 0;
    padding-top: 100px;
    position: relative;
    bottom: 1px;
    left: 20px;
}
@media only screen and (max-width: 760px){
    .speech{
        height: 90px;
    }
    .developer{
    bottom: 10px;
    left: 10px;
}
}
@media only screen and (max-width: 400px){
    .speech{
        height: 150px;
    }
}